.border-bottom-primary {
    border-bottom: 20px solid $clr-primary;
}

.banner {
    background-image: url("/img/banner.jpg");
    background-color: gray;
    background-blend-mode: multiply; //look up
    background-repeat: no-repeat; //look up
    background-size: cover; //look up
    height: 80vh;
    text-align: center;
    color: $clr-white;
    hr {
        width: 30%;
        margin: 2rem auto;
    }
     
    h2 {
        font-size: clamp(2rem, 3vw, 3rem);
    }

    h3 {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }

    p {
        max-width: 850px;
    }
}

.services {
    padding: 6rem 0;
    color: $clr-gray;
    &__wrapper {
        @include grid(3, 2rem);
        @include mediaQuery();
            @include grid(1, 2rem);        
    }
}
    
